<div [className] = "toggled ? 'toggle-on chatbotcontainer' : 'toggle-off chatbotcontainer'" #myList>
        <h4>Experis Chatbot</h4>
        <app-chatbot-message-list></app-chatbot-message-list>
        <input (keydown.enter)="getAnswer($event.target.value)" [(ngModel)]="inputtext">
</div>
<button class="chatbotbtn btn btn-outline-secondary" 
        (click)="toggleBox()">
    ExperisBot
    <span style="float:right">
        {{toggleArrow}}
    </span>
</button>
