.toggle-on{
    display:block;
}

.toggle-off{
    display: none;
}

.chatbotcontainer {
    position: fixed;
    bottom: 38px;
    left: 60%;
    width: 25%;
    border-color: #000000;
    border-style: solid;
    padding: 20px;
}

.chatbotbtn{
    position:fixed;
    bottom: 0;
    left: 60%;
    width: 25%;
}