.messagelist {
    height: 25vw;
    overflow-y: scroll;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.userClass {
    margin-bottom: 3px;
    padding: 5px 10px;
    float: right;
    border-radius: 10px 10px 2px 2px;
    clear: both;
    background: #0066ff;
    color: white;
    border-bottom-left-radius: 10px;
}

.botClass {
    margin-bottom: 3px;
    padding: 5px 10px;
    float: left;
    border-radius: 10px 10px 2px 2px;
    clear: both;
    background: #f2f2f2;
    color: black;
    border-bottom-right-radius: 10px;
}

.botClass + .userClass {
    border-bottom-right-radius: 5px;
}
  
.userClass + .userClass {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.userClass:last-of-type {
    border-bottom-right-radius: 30px;
}